# SST Secrets
# Load with `sst secret load .secrets.env`

Domain=

ReplicacheLicenseKey=

PostgresHost=
PostgresPort=
PostgresUser=
PostgresPassword=
PostgresDatabase=
PostgresSsl=

PartyKitUrl=

GoogleClientId=
GoogleClientSecret=
