# SST Secrets
# Load with `sst secret load .secrets.env`

AwsOrgRootEmail=
TenantsOrganizationalUnitId=
ManageTenantInfraRoleArn=

WebUsername=
WebPassword=

ReplicacheLicenseKey=

PartyKitUrl=

GoogleClientId=
GoogleClientSecret=
