# SST Secrets
# Load with `sst secret load .secrets.env`

AwsOrgRootEmail=
TenantsOrganizationalUnitId=
CreateTenantAccountRoleArn=

Username=
Password=

ReplicacheLicenseKey=

PartyKitUrl=

GoogleClientId=
GoogleClientSecret=
