---
import Layout from "~/layouts/Layout.astro";
import { css } from "~/styled-system/css";
---

<Layout title="Paperwait">
  <nav><a href="/dashboard">Dashboard</a></nav>

  <h1 class={css({ color: "emerald.500" })}>Paperwait Landing Page</h1>
</Layout>
