---
import stylex from "@stylexjs/stylex";

import Layout from "~/layouts/Layout.astro";
import styles from "~/styles/index";
---

<Layout title="Paperwait">
  <nav><a href="/dashboard">Dashboard</a></nav>

  <h1 {...stylex.attrs(styles.text)}>Paperwait Landing Page</h1>
</Layout>
